tr.heading + tr[class^="memitem"] td.memItemLeft,
tr.groupHeader + tr[class^="memitem"] td.memItemLeft,
tr.inherit_header + tr[class^="memitem"] td.memItemLeft {
  border-top: 1px solid var(--separator-color);
}

tr.heading + tr[class^="memitem"] td.memItemRight,
tr.groupHeader + tr[class^="memitem"] td.memItemRight,
tr.inherit_header + tr[class^="memitem"] td.memItemRight {
  border-top: 1px solid var(--separator-color);
}

tr[class^="memitem"] + tr[class^="memitem"] td.memItemLeft,
tr[class^="memitem"] + tr[class^="memitem"] td.memItemRight,
tr[class^="memitem"] + tr[class^="memitem"] td.memTeplParams {
  border-top: none;
}

tr[class^="memdesc"] + tr[class^="memitem"] td.memItemLeft,
tr[class^="memdesc"] + tr[class^="memitem"] td.memItemRight {
  border-top: none;
}

.mdescLeft {
  border-left: 1px solid var(--separator-color) !important;
  border-bottom: 1px solid var(--separator-color) !important;
}
.mdescRight {
  border-right: 1px solid var(--separator-color) !important;
  border-bottom: 1px solid var(--separator-color) !important;
}

table.memberdecls .memItemLeft {
  border-radius: 0;
}

table.memberdecls .memItemRight {
  border-radius: 0;
}
table.memberdecls .memTemplParams {
  border-radius: 0;
}
